<h1>Search Users</h1>

<nav class="users-search">
  <form class="users-search-form">
    <label for="users-search-input">Name
      <input type="text" name="name" value="">
    </label>

    <ul class="users">
    </ul>
  </form>
</nav>